@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeue-Light.ttf);
}
@font-face {
    font-family: HelveticaNeueItalic;
    src: url(../fonts/HelveticaNeueCyr-Italic.ttf);
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue;
    overflow-x: hidden;
}

header, section, main, footer {
    width: 100%;
}

nav {
    margin-left: 1em;
    margin-top: 2.5em;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: center; 
}
.navbar > li {
    margin-left: none;
    font-size: 1.5em;
    margin-right: 1.5em;
    cursor: pointer;
}

.head-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-elements-wrapper {
    width: 25em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4em;
}

.create-poll {
    width: 18em;
    height: 4.5em;
    border-radius: 1.5em;
    border: none;
    background-color: black;
    cursor: pointer;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
}

.create-poll-label {
    font-size: 1.6em;
    margin: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: HelveticaNeueLight;
    letter-spacing: .6px;
}

.basic-categories {
    width: 100%;
    margin-left: 1.3em;
    overflow-x: scroll;
}

.user-basic-categories {
    width: 100%;
    margin-left: 1.3em;
    overflow-x: scroll;
}

.basic-categories-list {
    list-style: none;
    display: flex;
    margin-top: 3.3em;
    width: 50em;
}

.user-basic-categories-list {
    list-style: none;
    display: flex;
    margin-top: 3.3em;
    width: 35em;
}

.basic-categories-list > li {
    font-family: HelveticaNeueLight;
    margin-right: 1em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-basic-categories-list > li {
    font-family: HelveticaNeueLight;
    margin-right: 1em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.basic-categories-list > li:nth-child(1) {
    margin-right: .8em !important;
}

.user-basic-categories-list > li:nth-child(1) {
    margin-right: .8em !important;
}

.selected {
    font-family: HelveticaNeue !important;
    font-size: 3em !important;
    margin-bottom: .15em;
}



.poll-card {
    width: 21em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform .2s;
}

.form-title{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1.4em !important;
}

.poll-card:hover{
    transform: scale(1.1);
}

.poll-picture {
    background-image: url(https://images.unsplash.com/photo-1518558133979-a4f550538f32?ixlib=rb-1.2.1&auto=format&fit=crop&w=1568&q=80);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    /*
    background-blend-mode: color-burn; 
    */
    width: 21em;
    height: 13em;
    border-radius: 3em;
    box-shadow: 0 3px 8px rgba(82, 82, 82, 0.3);
    cursor: pointer;
    transition: .2s;
}

/*
.features-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
}
*/

.poll-picture:hover .features-wrapper {
    display: flex;
}

.poll-picture:hover {
    background-color: rgba(255,255,255,.9);
}

.poll-picture div {
    color: black;
}

.poll-label {
    font-size: 1.5em;
    margin-top: .6em;
    margin-bottom: 1.2em;
}

.index-polls {
    margin-top: 2em;
    margin-bottom: 1.5em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.user-index-polls {
    margin-top: 2em;
    margin-bottom: 1.5em;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.search-polls {
    display: grid;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-label {
    font-family: HelveticaNeueLight;
    font-size: 1.5em;
    margin-left: .4em;
    cursor: pointer;
}

footer {
    height: 4em;
    display: flex;
    justify-content: flex-end;
}
.copyright{
    margin-right:3em;
}

.auth-div{

    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1,1,1,0.1);

}

.head-create-poll {
    border-radius: .55em;
    border: none;
    background-color: black;
    cursor: pointer;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}
.head-create-poll-label {
    font-size: .6em;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: HelveticaNeueLight;
}

.logout-link{
    color:black;
    text-decoration:none;
    border-radius:5px;
    padding:3px;
}

.not-margin {
    margin-bottom: 0;
}

.vs-input-content {
    margin-bottom: .5em;
}

.vs-dialog__content.notFooter {
    margin-bottom: 10px;
}

.con-form {
    display: grid !important;
}

.con-form > .flex {
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em !important;
}

.con-form > .flex > a {
    outline: none;
    text-decoration: none;
    color: black;
}

.vs-dialog__content.notFooter {
    margin-bottom: 0 !important;
}

.vs-button__content {
    text-align: center;
}

.vs-dialog__content.notFooter {
    margin-bottom: 10px;
}

.con-form {
    display: grid !important;
}

.con-form > .flex {
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em !important;
}

.con-form > .flex > a {
    outline: none;
    text-decoration: none;
    color: black;
}

.vs-dialog__content.notFooter {
    margin-bottom: 0 !important;
}

.vs-button__content {
    text-align: center;
}

.poll-card a{
    text-decoration: none;
    outline: none;
    color:black;
}

.user-popular-item {
    margin-left: .4em;
}

.user-notes {
    margin-left: 2.6em;
    margin-right: 2.6em;
    font-weight: 200;
}

.check-stats {
    color: black;
}

.user-main-section {
    overflow-x: scroll;
}

@media (min-width: 786px) {
    .head-elements-wrapper {
        width: 50em;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h1 {
        font-size: 4em;
    }
    .basic-categories-list {
        width: 40em;
    }
    .user-basic-categories-list {
        width: 35em;
    }
    .index-polls {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 25em);
        margin-left: 1.9em;
    }
    .user-index-polls {
        display: none;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 25em);
        margin-left: 1.9em;
        overflow: hidden;
    }
}