body {
    background: rgba(0, 0, 0, .5) url(https://images.unsplash.com/photo-1491250974528-9443b2902f18?ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.navbar > li {
    color: white;
}

.navbar > li > a {
    color:white;
}

main {
    width: 100%;
    height: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.poll-name {
    margin-left: .5em;
    color: white;
    display: grid;
    font-size: 11vw;
    margin: auto;
    /*transform: translateX(-35vw);*/
    transition: padding 0.5s, transform 0.5s;
}

.run-poll-button {
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 5vw;
    text-align: center;
    margin:auto;
    transition: font-size 0.5s;
}

.run-poll-button-started {
    padding:0 !important;
    font-size:0;
}

.poll-name-started{
    padding:0 !important;
    transform: translateX(-40vw);
}

.head-create-poll {
    border-radius: .55em;
    border: none;
    background-color: black;
    cursor: pointer;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}
.head-create-poll-label {
    font-size: .6em;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: HelveticaNeueLight;
}


@media (min-width: 786px) {
    main {
        width: 100%;
        height: 70%;
        display: flex;
    }
    
    .poll-name {
        color: white;
        display: grid;
        font-size: 4em;
        padding: 1em;
    }
    
    .run-poll-button {
        /*padding: 3em;*/
        color: white;
        text-decoration: none;
        outline: none;
        /*font-size: 1.5em;*/
        text-align: center;
    }
}