body {
    background: rgba(0, 0, 0, .5) url(https://images.unsplash.com/photo-1491250974528-9443b2902f18?ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.navbar > li {
    color: white;
}

.navbar > li > a {
    color:white;
}

main {
    width: 100%;
    height: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.poll-name {
    margin-left: .5em;
    color: white;
    display: grid;
    font-size: 11vw;
    margin: auto;
    /*transform: translateX(-35vw);*/
    transition: padding 0.5s, transform 0.5s;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.question-1{
    opacity: 1;
    transition: opacity 0.5s;
}

.question-0{
    opacity: 0;
    transition: opacity 0.5s;
}

button{
    color:black !important;
}

.run-poll-button {
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 5vw;
    text-align: center;
    margin:auto;
    transition: opacity 0.5s;
}

.survey-title{
    /*margin-top:15vw;*/
    color:white;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: flex;
    flex-direction: row;
    transition: margin 0.5s, font-size 0.5s, padding-top 0.5s;
}
.survey-title div{
    padding:1em;
}
.survey-title div span{
    font-size:0.5em;
}
.outQuestions{
    min-height: 100px;
}

.questions{
    background-color:white;
    opacity:0;
    transition: opacity 0.5s;
    width: calc(100% - 6em);
    padding:30px;
    border-radius:30px;
}

.op1{
    opacity:1;
}

.empty {
    transition: flex-grow 0.5s;
    flex-grow:1;
}

.out-wrap{
   height: 100%; width:100%; margin-left:3em; display: flex; flex-direction: row;
}

.column{
    flex-direction: column;
}

.dnone{
    display:none;
}

.gr0{
    flex-grow:0;
}

.survey-title-started{
    margin:0;
    padding-left:10px;
    font-size:2.5em;
    width:100%;
}

.wd0{
    width:0;
}
.w100{
    width:100%;
    padding:0 !important;
}

.run-poll-button-started {
    opacity:0;
}

.poll-name-started{
    padding:0 !important;
    transform: translateX(-40vw);
}

.head-create-poll {
    border-radius: .55em;
    border: none;
    background-color: black;
    cursor: pointer;
    padding: .4em;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}
.head-create-poll-label {
    font-size: .6em;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: HelveticaNeueLight;
}


@media (min-width: 786px) {
    main {
        width: 100%;
        height: 70%;
        display: flex;
    }
    
    .poll-name {
        color: white;
        display: grid;
        font-size: 4em;
        padding: 1em;
    }
    
    .run-poll-button {
        /*padding: 3em;*/
        color: white;
        text-decoration: none;
        outline: none;
        /*font-size: 1.5em;*/
        text-align: center;
    }
}