<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style/index.css">
    <title>Title</title>
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <style>
        .vs-input {
            width: 100%;
            margin: 5px;
        }
    </style>
</head>
<body>

</div>
<header>
    <nav>
        <ul class="navbar">
            {% if user %}
                <li><a href="/logout" class="logout-link">выход</a></li>
                <li>{{ user }}</li>
                <li class="head-create-poll"><a class="head-create-poll-label">Создать опрос</a></li>
            {% else %}
                <li class="login-item" onclick="app.register()">регистрация</li>
                <li class="signup-item" onclick="app.login()">вход</li>
            {% endif %}
        </ul>
    </nav>
</header>

<main id="mainApp">