{% include "header.html" %}
    <vs-dialog v-model="isLogin">
        <template #header>
            <h4 class="not-margin">
                Добро пожаловать
            </h4>
        </template>
        <form action="/login" method="post">
            <div class="con-form">
                <vs-input v-model="email" placeholder="Email" name="email">
                    <template #icon>
                        @
                    </template>
                </vs-input>
                <vs-input icon="add" type="password" v-model="password" placeholder="пароль" name="password">
                    <template #icon>
                        <img src="/static/vpn_key-24px.svg" alt="p">
                    </template>
                </vs-input>
                <vs-button relief dark type="submit">
                    Войти
                </vs-button>
                <div class="flex">
                    <a href="#">Забыли пароль?</a>
                </div>

            </div>

            <template #footer>
                <div class="footer-dialog">
                    <div class="new">
                        New Here? <a href="#">Create New Account</a>
                    </div>
                </div>
            </template>
        </form>
    </vs-dialog>
    <vs-dialog v-model="isRegister">
        <template #header>
            <h4 class="not-margin">
                Добро пожаловать
            </h4>
        </template>
        <form action="/signup" method="post">
            <div class="con-form">
                <vs-input v-model="email" placeholder="Email" name="email">
                    <template #icon>
                        @
                    </template>
                </vs-input>
                <vs-input icon="add" type="password" v-model="password" placeholder="пароль" name="password">
                    <template #icon>
                        <img src="/static/vpn_key-24px.svg" alt="p">
                    </template>
                </vs-input>
                <vs-input icon="add" type="password" v-model="passwordRepeat" placeholder="повторите пароль" name="passwordRepeat">
                    <template #icon>
                        <img src="/static/vpn_key-24px.svg" alt="p">
                    </template>
                </vs-input>
                <vs-button relief dark type="submit">
                    Зарегистрироваться
                </vs-button>

            </div>

            <template #footer>
                <div class="footer-dialog">
                    <div class="new">
                        New Here? <a href="#">Create New Account</a>
                    </div>
                </div>
            </template>
        </form>
    </vs-dialog>
    <section class="head-section">
        <div class="head-elements-wrapper">
            <h1>Узнаем всё про всех.</h1>
            <button class="create-poll">
                <a class="create-poll-label" href="/createsurvey">Создать опрос</a>
            </button>
        </div>
    </section>
    <section class="main-section">
        <section class="basic-categories">
            <ul class="basic-categories-list">
                <li class="popular-item selected">Популярное</li>
                <li class="new-item">Новое</li>
                <li class="all-item">Категории</li>
                <li class="categories-item">Поиск</li>
            </ul>
        </section>
        <section class="index-polls">
            {% for survey in surveys %}
            <div class="poll-card">
                <div class="poll-picture"></div>
                <p class="poll-label">{{ survey.name }}</p>
            </div>
            {% endfor %}
        </section>
        <section class="search-polls">
            <div class="search-wrapper">
                <img src="/static/search-icon.svg" alt="search icon">
                <p class="search-label">поиск по опросам</p>
            </div>
        </section>
    </section>

</main>
{% include "footer.html" %}
{%  raw %}
<script>
    var app = new Vue(
        {
            el: "#mainApp",
            methods: {
                login: function () {
                    this.isLogin = true;
                },
                register: function () {
                    this.isRegister = true;
                },
                closeForm: function () {
                    this.isLogin = false;
                    this.sisRegister = false;
                },
            },
            data: {
                isLogin: false,
                isRegister: false,
            }
        },
    );
</script>
{%  endraw %}
</html>