<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <link rel="stylesheet" href="../static/style/runpollonly.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li class="login-item">регистрация</li>
                <li class="signup-item">вход</li>
                <li class="head-create-poll"><a class="head-create-poll-label">Создать опрос</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="poll-name">Как переехать в Исландию?</h1>
        <a href="" class="run-poll-button"><b>Пройти опрос</b></a>
    </main>
</body>
</html>