
    <link rel="stylesheet" href="../static/style/runpollonly.css">
{% include "header.html" %}
        <div :class="outWrap">
            <div :class="leftEmpty"></div>
            <h1 :class="surveyTitle">
                <div :class="innerClass">{{ name }}</div>
                <div :class="btnWrap" style="margin:auto">
                    <span @click="start" :class="runPollButtonClass"><b>Пройти опрос</b></span>
                </div>
            </h1>
            <div :class="'outQuestions '+questions">
                {% raw %}
                <div :class="mainPart">
                    <span :class="questionTextClass">
                        {{ question }}
                    </span>
                    {% endraw %}
                    <div class="buttons">
                        <vs-button relief HEX color="rgb(247,247,247)" @click="answer(0)" v-for="i in availableAnswers.split(';')">{% raw %}{{ i }}{% endraw %}</vs-button>
{#                        <vs-button relief HEX color="rgb(247,247,247)" @click="answer(1)">нет</vs-button>#}
                    </div>
                </div>
                <div :class="questionsEnd">
                    Конец
                </div>
            </div>
            <div class="empty"></div>
        </div>
    </main>
<script>
    function arr(...x){
        return x;
    }
</script>
<script type="text/lua">
local js = require "js"
local window = js.global
local Object = dofile("https://gist.githubusercontent.com/daurnimator/5a7fa933e96e14333962093322e0ff95/raw/8c6968be0111c7becc485a692162ad100e87d9c7/Object.lua").Object


    window.questions = { {% for i in questions %}{text= "{{ i.text }}"; answers="{{ i.answers }}"},{% endfor %} };
</script>
<script type="text/lua">
   {% include "/scripts/runpoll.lua" %}
</script>

</body>
</html>